<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/stylesheets/emailStyle.css" />
    <title>Password Reset</title>
  </head>
  <body class="">
    <table
      role="presentation"
      border="0"
      cellpadding="0"
      cellspacing="0"
      class="body"
    >
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">
            <!-- START CENTERED WHITE CONTAINER -->
            <table role="presentation" class="main">
              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table
                    role="presentation"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                  >
                    <tr>
                      <td>
                        <p>Hi <%= user.name %> ,</p>
                        <p>
                          Your Hyper password was reset successfully on <%= date
                          %>
                        </p>
                        <p>
                          <b>If you did this,</b> you can safely disregard this
                          email.
                        </p>
                        <p>
                          <b>If you didn't do this,</b> please secure your
                          account.
                        </p>
                        <p>Thanks,</p>
                        <p>Team Hyper</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
